

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;

}

/*div{
    border: 1px solid black;
}
*/

header {
    background-color: #fff;
    color: #000;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;


/*border: 1px solid red;*/
}

header h1 {
    margin: 20px 0 20px 0;
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

nav a:hover {
    color: #93DEEE; /* Blue color on hover */
}




.container {
    width: 80%;
    margin: 0 auto;
}

.project-section {
    padding: 130px 0;
    text-align: center;
    font-size: 15px;
}

    .project-section h2 {
        color: #000; /* Adjust text color as needed */
        font-size: 20px
    }

/*click project*/
.project-details {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
}

    .project-details a {
        display: block;
    }

    .project-details img {
        max-width: 100%;
        transition: opacity 0.3s, transform 0.3s ease-in-out; 
        height: auto; /* Maintain the image's aspect ratio */
        width: 4in; /* Set the width to 4 inches */
        max-height: 4in; /* Set the maximum height to 4 inches */
        object-fit: cover;

    }

    .project-details a:hover img {
        opacity: 0.7;
        transform: scale(1.1);
    }

    .text-details {
        margin-left: 20px;
        padding: 10px;
        text-align: left;
        width: 400px;
    }

h4{
    margin-bottom: -12px;
}
.project-date {
    margin-bottom: 10px; /* Adjust margin as needed */
}

.read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: border-color 0.3s, color 0.3s; /* Add transition for color */
    width: 90px;
    border: 1px solid black;
}

    .read-more-btn:hover {
        color: gray;
        border-color: gray
    }

/*gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-top: 2em;
}

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .gallery img:hover {
        transform: scale(1.3);
        transform-origin: center center; 
        max-width: 120%; /* Limit the width to 90% of the viewport width */
        max-height: 120%;
    }

    .gallery img[data-large="true"]:hover {
        transform: scale(2.5);
    }

/*contact*/
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10em;
}

.send-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    transition: border-color 0.3s, color 0.3s; /* Add transition for color */
    width: 80px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    margin-top:30px;

}

.send-btn:hover {
    color: gray;
    border-color: gray
}

.contact-table{
    margin-bottom: 10em;
}

/*icons*/
.social-media {
    margin-top: 20px;
    display: flex; /* Align icons in a row */
    align-items: center; /* Center icons vertically */
}

    .social-media a {
        margin-right: 10px; /* Adjust the spacing between logos */
        
    }

    .social-media img {
        width: 30px; /* Set a fixed width for the logos */
        height: 30px; /* Set a fixed height for the logos */
    }

.contact-info {
    margin-top: 2em;
    margin-bottom:  2em;
    margin-right: 20px;
    padding-right: 100px
}

    .contact-info p {
        margin: 0; /* Reset the margin */
        margin-bottom: 5px; /* Adjust the margin between paragraphs */
    }

.contact-form{
    max-width: 400px;

}

table {
            width: 100%;
        }

        td {
            vertical-align: top; /* Align content to the top of the cell */
        }

        @media (max-width: 768px) {
            /* Adjust layout for smaller screens */
            td {
                display: block; /* Change to block-level for smaller screens */
                width: 100%;
            }
        }

input,
        textarea {
            width: 90%;
            padding: 8px;
            box-sizing: border-box;
            border: none;
            font-family: 'Montserrat', serif;
            border-bottom: 1px solid #000; /* Add a line at the bottom */
            outline: none; /* Remove the default focus border */
        }

input:focus,
        textarea:focus {
            border-bottom-color: #333; /* Change color on focus */
        }

        input::placeholder,
        textarea::placeholder {
            font-size: 16px;
            transition: font-size 0.3s;
        }

        input:focus::placeholder,
        textarea:focus::placeholder,
        input:valid::placeholder,
        textarea:valid::placeholder {
            font-size: 10px; /* Shrink font size on focus or when content is entered */
        }


/*home*/
.about-section{
    margin-top: 10em;
}

.profile-picture {
    max-width: 300px;
    border-radius: 50%;
    margin-right: 40px;
}

.profile-picture img{
    height: 300px;
    max-width: 300px;
    border-radius: 50%;
    margin-right: 20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0
}


.short-description {
    max-width: 600px;
}

/*home-expertise*/
.expertise-section{
    margin-bottom: 10em;
}

.expertise-section h2{
    text-align: center;

}

.expertise-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 10px auto;
    
}

.expertise {
    flex-basis: calc(33.33% - 20px);
    text-align: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.expertise i{
    font-size: 36px;
    margin-bottom: 10px;
    color: #000; /* Black color for icons */
}

.expertise img{
    height: 36px;
    width: 36px;
    margin-bottom: 10px;
}

.expertise h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000; /* Black color for heading */
}

.expertise p {
    font-size: 14px;
    color: #333; /* Dark gray color for description */
}



/*smaller screens*/
@media (max-width: 768px) {


    header h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    nav {
        flex-direction: column; /* Stack navigation items vertically */
        align-items: center;
    }

    nav li {
        margin: 10px 3px; /* Adjust margin for smaller screens */


    }

    .container {
        max-width: 100%; /* Use full width for smaller screens */
        padding: 0 20px; /* Add some padding to the sides */
        flex-direction: column; /* Stack header items vertically on smaller screens */
        align-items: center; /* Center items on smaller screens */
        text-align: center; /* Center text on smaller screens */
    }
    header .container {
        width: 100%; /* Adjust the width as needed */
        max-width: 320px; /* Add a max-width if necessary */
        margin: 0 auto; /* Center the container */
    }

    .project-section {
        padding: 150px 0; /* Adjust padding for smaller screens */

    }

    .project-details {
        flex-direction: column; /* Stack project details vertically */
        text-align: center;
    }

    .text-details {
        margin-left: 0; /* Reset margin for smaller screens */
        max-width: 100%; /* Use full width for smaller screens */
    }

    .gallery {
        gap: 8px; /* Reduce gap between gallery items */
    }

    .gallery img {
        width: 100%; /* Set the width to 100% for smaller screens */
        max-width: none; /* Remove max-width to allow full-width scaling */
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .contact-section {
        flex-direction: column; /* Stack contact section vertically */
        align-items: center;
        margin-top: 10em; /* Adjust margin for smaller screens */
        max-width: 100%;
    }

    .contact-info{
        max-width: 600%;
        text-align: left;
    }
    .social-media{
        max-width: 100%;
    }
    

    .contact-form {
        max-width: 80%; /* Use full width for smaller screens */
    }


    /*home*/
    .about-section {
        margin-top: 10em; /* Adjust the margin for smaller screens */
    }

    .profile-picture {
        max-width: 150px; /* Adjust the size of the profile picture for smaller screens */
        margin: 0 auto;

    }

    .profile-picture img {
        height: 150px;
        max-width: 150px;
        margin-right: 10px;
    }

    .about-content {
        justify-content: center;
        flex-direction: column; /* Stack elements vertically on smaller screens */
         /* Align elements to the start (left) on smaller screens */
       
    }

    .short-description {
        max-width: 100%; /* Make the description full width on smaller screens */
        text-align: center; /* Center text on smaller screens */
        margin: 20px;
    }
}

/*land-titling*/
.project-section-2{
    margin-top: 10em;
    margin-bottom:10em;
}

.project-text h3 {
    text-align: center;
}

.project-text p {
    text-align: justify;
    text-indent: 50px
}

.project-file embed{
    width: 100%;
    height: 600px;
}

/*thesis*/
.project-image img{
    width: 100%
}

/*icare*/
.icare-vid {
    display: block; /* Set display property to block */
    margin: 0 auto; /* Center horizontally */
    width:100%;
}


/*footer*/
/* Footer Styles */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}


.copyright {
    text-align: center; /* Center the copyright text */
    flex-grow: 1; /* Allow the copyright to take up the remaining space */
}

